.catalog {
  .basic-fonts();
}

.catalog__title {
  margin: 0;
  padding: 74px 41px;
  background-color: #f1f1f1;
  .basic-fonts(27px,#000000,700,30px);
}

.catalog__list {
  .basic-style();
}

@media (max-width: @tablet-width) {
  .catalog__item {
    padding: 30px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: grid;
    gap: 54px;
    margin-top: 80px;
  }
}
