.color__item-title {
  .basic-fonts(17px,#63d1bb,700,16px);
  text-transform: uppercase;
}

.color__item {
  margin: 0;
  border: none;
  padding: 32px 8%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: @tablet-width) {
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    background-position: 80% 0;
  }
}

.color__selection {
  margin: 0;
  display: flex;
}

@media (min-width: @tablet-width) {
  .color__item {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f1f1f1;
    column-gap: 0;
    padding-left: 217px;
    padding-right: 75px;
  }

  .color__item-title {
    position: absolute;
    top: 24%;
    left: 8%;
  }

  .color__selection {
    justify-content: start;
    display: inline-flex;
    font-size: 19px;
  }
}

@media (min-width: @desktop-width) {
  .color__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 150px 52px 225px;
  }
}
