.component {
  display: flex;
  justify-content: space-between;
}

.component__logo {
  margin-right: 36px;
  margin-top: 23px;
  margin-bottom: 18px;
}

.component__title {
  align-self: center;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .component__title {
    margin-right: 90px;
  }
}

@media (min-width: @desktop-width) {
  .component__title {
    margin-right: 273px;
  }
}
