.contacts-group {
  margin: 0;
  padding: 30px;
}

.contacts-group__item {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.contacts-group__description-mail {
  border-bottom: 1px solid #62d1ba;
  mix-blend-mode: normal;
  margin: 0;
  margin-left: 25px;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    border: none;
  }
}

.contacts-group__description-address {
  margin: 0;
  margin-left: 22px;
}

@media (min-width: @tablet-width) {
  .contacts-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 55px;
    gap: 45px;
  }

  .contacts-group__description-mail {
    height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-group {
    display: block;
    margin: 0;
    width: auto;
    justify-self: start;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
