.contacts {
  .basic-fonts(14px,#444444,400,30px);
}

.contacts__title {
  .basic-fonts(25px,#000000,700,30px);
}

.contacts__button {
  .basic-button();
}

.contacts__image {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts-group {
    display: flex;
  }
}
