.contacts {
  .basic-fonts(14px,#444444,400,30px);
}

.contacts__title {
  .basic-fonts(25px,#000000,700,30px);
  margin: 0;
}

.contacts__button {
  .basic-button();
}

.contacts__image {
  display: block;
  width: 100%;
}

.contacts-group__item {
  display: flex;
  margin: 0 auto;
}

.contacts-group {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: @tablet-width) {
  .contacts__title {
    margin-top: 40px;
    margin-left: 29px;
    display: block;
  }

  .contacts-group {
    padding: 60px 30px;
  }

  .contacts__button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: @tablet-width) {
  .contacts-group {
    display: flex;
  }
}
