.data-block__item-title {
  .basic-fonts(17px,#63d1bb,700,16px);
  text-transform: uppercase;
}

.data-container__input {
  .basic-fonts (17px,#444444,400,18px);
  background-color: #ffffff;
  border: none;
  mix-blend-mode: normal;
  box-shadow: inset 0 -2px 0 #000000;
  padding: 17px 10px 17px 0;
  box-sizing: border-box;
}
