.feedback {
  .basic-fonts(17px,#444444,400,30px);
}

.feedback__title {
  .basic-fonts(43px,#000000,700,50px);
  margin: 0;
}

.feedback__user {
  margin: 0;
}

.feedback__description {
  margin: 0;
}

.feedback__button {
  .basic-button();
  height: 52px;
  width: 175px;
  text-align: center;
  padding: 0;
}

.feedback__user-name {
  .basic-fonts(17px,#000000,700,30px);
}

.feedback__slider-toggle {
  padding: 13px 38px;
  background-color: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #160c0c;
}

@media (min-width: @tablet-width) {
  .feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/feedback-bg.jpg");
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }

  .feedback__description {
    grid-column: 1/-1;
    padding: 0 50px;
    align-self: center;
  }

  .feedback__button {
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
    margin-left: 35%;
  }

  .feedback__slider {
    justify-self: center;
    align-self: center;
    margin-left: 35%;
  }

  .feedback__title {
    padding: 82px 91px 36px 50px;
    align-self: center;
  }

  .feedback__user {
    padding: 63px 16px 47px 50px;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .feedback__title {
    .basic-fonts(53px,#000000,700,57px);
  }

  .feedback {
    padding: 0;
    padding-left: 174px;
    background-position: 4% 50%;
  }
}
