.feedback {
  .basic-fonts(15px,#444444,400,30px);
}

.feedback__title {
  .basic-fonts(25px,#000000,700,30px);
}

.feedback__user-name {
  .basic-fonts(17px,#000000,700,30px);
}

.feedback__button {
  .basic-button();
}

.feedback__slider-toggle {
  padding: 13px 38px;
  background-color: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #160c0c;
}

@media (min-width: @tablet-width) {
  .feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/feedback-bg.jpg");
    background-repeat: no-repeat;
  }

  .feedback__description {
    grid-column: 1/-1;
  }

  .feedback__button {
    grid-area: 1/2/2/3;
  }
}
