.main-header {
  background-color: #ffffff;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .main-header {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    min-width: @desktop-width;
  }
}
