.main-footer {
  background-color: #f1f1f1;
}

.main-footer__social-list {
  .basic-style();
  display: flex;
  gap: 31px;
  padding: 30px;
  box-sizing: border-box;
}

.main-footer__copyright-text {
  .basic-fonts(19px,#000000,700,19px);
}

