.page {
  height: 100%;
  font-size: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #444444;
  min-width: @mobile-width-only;
}

@media (min-width: @tablet-width) {
  min-width: @tablet-width;
}

@media (min-width: @desktop-width) {
  min-width: @desktop-width;
}
