.promo {
  background-color: #ffffff;
  background-image: url("/img/promo__image.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  padding: 120px 30px;
  font-size: 27px;
  line-height: 30px;
  .basic-fonts (27px,#000000,700,30px);
}

.promo__list {
  margin: 0;
  padding: 0;
}

.promo__item {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background-color: #63d1bb;
  .basic-fonts (19px,#ffffff,700,24px);
}

.promo__item-toys {
  background-color: #56c3b2;
}
