.stats {
  background-color: #ffffff;
  .basic-fonts(17px,#000000,700,20px);
}

.stats__title {
  margin: 0;
  .basic-fonts(25px,#000000,700,30px);
}

.stats__list {
  .basic-style ();
}

.stats-block-description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 57px;
    column-gap: 70px;
  }

  .stats {
    padding: 83px 105px 83px 50px;
  }
}
