.video {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 58px;

  &:hover {
    mix-blend-mode: normal;
    border: 1px solid #ececec;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

    .video__play {
      width: 121px;
      height: 92px;
    }
  }

  &:active {
    mix-blend-mode: normal;
    border: 1px solid #ececec;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    .video__play {
      width: 81px;
      height: 62px;
      mix-blend-mode: normal;
      opacity: 0.3;
    }
  }
}

.video__title {
  .basic-fonts(17px,#000000,700,24px);
  padding-left: 91px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 26px;
}

.video__logo {
  position: absolute;
  top: 30px;
  left: 35px;
}

.video__description {
  margin: 0;
  padding: 35px 33px;
}

.video__button {
  .basic-button ();
  width: 192px;
  height: 52px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 33px;
  display: block;

  &:hover {
    color: #ffffff;
    background-color: #444444;
    mix-blend-mode: normal;
    border: 2px solid #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
    mix-blend-mode: normal;
    border: 2px solid #444444;
  }
}

.video__play {
  position: absolute;
  left: 43%;
  top: 25%;
}

@media (min-width: @tablet-width) {
  .video {
    display: grid;
    width: 668px;
    grid-template-rows: 455px 90px 1fr 100px;
    border: none;
    margin-bottom: 64px;
  }

  .video__image {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .video__title {
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-left: 107px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    mix-blend-mode: normal;
  }

  .video__logo {
    position: absolute;
    top: 65%;
  }

  .video__button {
    width: 584px;
    height: 52px;
    margin: 0 auto;
    display: block;
  }

  .video__block {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    mix-blend-mode: normal;
  }

  .video__description {
    padding: 24px 17px 40px 40px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    mix-blend-mode: normal;
  }
}

@media (min-width: @desktop-width) {
  .video {
    display: grid;
    grid-template-columns: 683px 367px;
    grid-template-rows: 159px 140px 156px;
    margin: 0 auto;
    margin-top: 57px;
    height: 455px;
    width: 1050px;
    margin-bottom: 105px;
  }

  .video__image {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 455px;
    width: 683px;
  }

  .video__title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    .basic-fonts(20px,#000000,700,24px);
    padding: 0;
    padding-top: 96px;
    padding-right: 110px;
    padding-left: 79px;
  }

  .video__description {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 28px 36px 0 79px;
  }

  .video__block {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    padding: 51px 0;
  }

  .video__button {
    width: 230px;
    height: 52px;
  }

  .video__logo {
    top: 12%;
    left: 72.5%;
  }

  .video__play {
    top: 40%;
    left: 28%;
  }
}
